/* Стили для боковой панели */
.side-navigation {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: #f6f6f6;
    padding: 20px;
    height: calc(100% - 60px);
    box-sizing: border-box;
}

.side-navigation .list-group {
    margin-bottom: 0;
}

.side-navigation .list-group-item {
    border-radius: 0;
}

/* Стили для редактируемого текста */
#editable-text {
    cursor: pointer;
}

.edit-mode {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

/* Темная тема */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme .navbar {
    background-color: #222;
}

body.dark-theme .side-navigation {
    background-color: #222;
    color: #fff;
}

body.dark-theme .list-group-item {
    color: #fff;
}
